<header class="masthead">
  <div class="masthead-inner">
    <a class="seal" href="/" aria-label="Home"><img src="/img/city-seal.png" alt="Seal of the City of Spring Branch, Texas"></a>
    <div class="titles">
      <p class="kicker">Official Municipal Website</p>
      <h1>City of Spring Branch, Texas</h1>
      <p class="tagline">Founded {{ .Site.Params.founded }} &middot; Incorporated {{ .Site.Params.incorporated }} &middot; {{ .Site.Params.county }}</p>
    </div>
  </div>
  <hr class="brass-rule">
</header>
