{{/* Jurisdiction intercept. Dropped at the point of intent (Permits, Contact) to catch
     visitors who assume a "Spring Branch, TX" mailing address means they are in the city.
     Links to the definitive City Limits page (/about/maps/). */}}
<aside class="jcheck">
  <p class="jcheck-h">First, are you in our city limits?</p>
  <p>Our city is a thin strip along US&nbsp;281, Spring Branch Road, and FM&nbsp;311. As a rule of thumb: if you're south of Rodeo Drive or north of SH&nbsp;306, your property is very likely outside our limits, even though your mail says &ldquo;Spring Branch, TX 78070.&rdquo;</p>
  <p class="jcheck-link"><a href="/about/maps/">Where am I, and who do I contact? &rarr;</a></p>
</aside>
